**/tomita
**/tomita.exe
**/tomita-mac
alcohol/**/*.tsv
laugh/**/*.tsv
transport/**/*.tsv
sun/**/*.tsv
**/*.txt
**/*.html
**/*.xml
**/*.bin
**/.ipynb_checkpoints/*
**/~$*
laugh/simple_keywords_finder/config.proto
laugh/motive_finder/config.proto
