**/tomita
**/tomita.exe
**/tomita-mac
*.txt
*.bin
*.bin
*.html
*.bin
*.bin
*.html
laugh/PrettyOutput.html
laugh/params/mydic.gzt.bin
laugh/PrettyOutput.html
*.html
laugh/simple_keywords_finder/config.proto
